@charset "utf-8";
/* CSS Document */
* {
	font-family: 'Poiret One', cursive;
	}
body {
	background-image:url(images/bg.jpg);
}
::-webkit-scrollbar {
    display: none;
}

/* top navigation */
#a.container {
	color: white;
	padding-top:48px;
	padding-left: 204px;
	height: 350px;
}
.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: transparent;
      border: 0;
      font-size: 140% !important;
      letter-spacing: 4px;
      opacity: 0.8;
}
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
}
.navbar-nav li a:hover {
      color: #fff !important;
}
.navbar-nav li.active a {
      color: #000 !important;
      background-color: #fff !important;
}
.navbar-default .navbar-toggle {
      border-color: transparent;
}
.open .dropdown-toggle {
      color: #fff;
      background-color: #000 !important;
}
.contact-panel {
	padding-bottom:40px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 130%;
    top: 15px;
    right: 35px;
  }}
/*content*/
h3 {
    font-size: 250px;
    text-align: center;
}
.text-center {
	padding-top: 20px;
	padding-bottom: 50px;
}
h1 {
	text-align: center;
	font-size: 100px;
	padding-top: 10%;
	color: black;
}
